.navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbarItem {
  color: white;
  /* border-left: 1px solid; */
  padding-right: 20px;
  padding-left: 15px;
  font-size: 15px;
}

#navbarItem1 {
  color: white;
  /* border-left: 1px solid; */
  padding-right: 20px;
  padding-left: 5px;
  font-size: 15px;
}

#navbarDropdownMenuLink {
  color: white;
}

.heading-sub {
  color: rgb(196, 196, 7);
}

.mat-icon {
  vertical-align: middle;
}

.navbar-nav {
  margin-left: calc(100% - 830px);
}

.sub-text {
  font-size: 8px;
}

.bell {
  font-size: 30px;
}

.profile-container {
  display: flex;
  margin-left: 10px;
}

.profile-pic {
  margin-top: 5%;
}

.profile {
  border-radius: 100%;
}

.border-right {
  border-right: 1px solid lightgray;
}

.flex-wrapper {
  display: flex;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  color: white;
}

.dollar-sign {
  border-radius: 100%;
}

@media only screen and (max-width: 700px) {
  .nav-item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
