/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Lalezar;
  src: url(assets/Roboto/Roboto-Bold.ttf) format("opentype");
}

* {
  font-family: Lalezar;
}
